*
{
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

html, body
{
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    
    height: 100%;
    width: 100%;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

body
{
    position: relative;
}