*
{
    user-select: none;
    -webkit-user-select: none;
}

input
{
    user-select: initial !important;
    -webkit-user-select: initial !important;
}

html, body
{
    margin: 0;
    background-color: black;

    overflow: hidden;
}

.gameInterfaceContainer
{
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    
    height: 100%;
    width: 100%;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

.gameInterfaceContainer > *:not(.mouse-pass-through)
{
    pointer-events: none;
}

#saveIcon
{
    position: absolute;

    bottom: 3vw;
    right: 3vw;

    opacity: 0;

    font-size: 36px;

    color: white;

    transition: opacity 1s;
}

#saveIcon[data-visibility="visible"]
{
    opacity: 1;
}