#pauseMenu
{
    box-sizing: border-box;

    /* // TODO: use entire screen on mobile */
    width: 80vw;
    height: 80vh;

    position: absolute;
    z-index: 100;
    top: calc(20vh + 10px);
    left: 10vw;

    border-radius: 10px;
    /* // TODO: don't show a border on mobile */
    border: 10px solid #000000bb;

    padding: 40px;

    background-color: #ffffffe7;

    transition: top 0.25s;
}

#pauseMenu[data-visibility="hidden"]
{
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;

    top: 100vh;
}

#pauseMenu[data-visibility="shown"]
{
    pointer-events: all;
    user-select: all;
    -webkit-user-select: all;
}

.pauseMenu
{
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}